spring:
  application:
    name: couchbase-reactive-query

  couchbase:
    connection-string: couchbase://127.0.0.1
    username: ${CB_USERNAME:Administrator}
    password: ${CB_PASSWORD:password}
    env:
      timeouts:
        connect: 10s
        key-value: 2s
        query: 2s

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    org.springframework.web: INFO
    org.springframework.http.server.reactive: INFO
    reactor.netty.http.server: INFO

app:
  couchbase:
    bucket: mybucket
    scope: _default
    collection: my_users
  timeout:
    query: 3s

resilience4j:
  circuitbreaker:
    instances:
      couchbaseQueryBreaker:
        register-health-indicator: true
        sliding-window-size: 20
        minimum-number-of-calls: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-type: COUNT_BASED
        permitted-number-of-calls-in-half-open-state: 3
        ignore-exceptions:
          - com.couchbase.client.core.error.TemporaryFailureException
          - com.couchbase.client.core.error.IndexFailureException
          - com.couchbase.client.core.error.PlanningFailureException
  bulkhead:
    instances:
      couchbaseQueryBulkhead:
        max-concurrent-calls: 50
        max-wait-duration: 0s

  ratelimiter:
    instances:
      searchRateLimiter:
        limit-for-period: 100
        limit-refresh-period: 1s
        timeout-duration: 0
